.event-whole-container {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.top-white-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.background {
  background-color: var(--background-grey);
}

.group-detail-top.background {
  background-color: var(--background-grey);
}

.event-back {
  flex-grow: 1;
  align-self: center;
}

.group-detail-main .background {
  padding: 40px 0 0;
}

.group-detail-main.background {
  padding: 40px 0 0;
  border-top: 2px solid rgba(46, 62, 72, 0.12);
}

.group-detail-main {
  height: auto;
}

.group-detail-main2 {
  height: fit-content;
  align-self: center;
  max-width: 984px;
  width: 100%;
}

.event-title {
  font-weight: 700;
  line-height: 1.375;
  font-size: 1.875rem;
}

.host {
  margin-bottom: 1rem;
}

.hostby {
  font-weight: 400;
  font-size: 0.875rem;
  margin-bottom: 3px;
  line-height: 1;
}

.hostname {
  font-weight: 500;
  line-height: 1.25;
}

/* grey area:  */
.top-right-text-container {
  display: flex;
  justify-content: flex-start;
}

.group-detail-img1 {
  max-width: 650px;
  width: 640px;
  border-radius: 8px;
  /* flex-grow: 3; */
}

.small-group-container {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 1.3rem;
  border-radius: 1.5rem;
  margin-bottom: 1rem;
}

.small-group-container:hover {
  border: 1px solid transparent;
  box-shadow: 0.5px 0.5px 4px rgba(112, 112, 112, 0.5);
}

.small-group-img {
  max-width: 300px;
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 8px;
}

.small-group-text-container {
  padding-left: 20px;
}

.small-group-title {
  font-weight: 500;
  font-size: 15px;
  line-height: 1.25;
  margin-bottom: 4px;
}

.small-group-type {
  font-weight: 500;
  font-size: 14px;
  color: #707070;
}

.event-metadata-container {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 1.5rem;
  background-color: white;
}

.event-metadata-container1 {
  display: flex;
  flex-direction: column;
  padding: 1.3rem;
  border-radius: 1.5rem;
  background-color: white;
  margin-top: 1rem;
}

.event-chat-btn {
  cursor: pointer;
  padding: 0.5rem 0;
  background-color: #ffffff;
  color: var(--meetup-green);
  border: 2px solid var(--meetup-green);
  font-weight: 500;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.event-chat-btn-grey {
  padding: 0.5rem 0;
  background-color: #A2A2A2;
  color: #ffffff;
  border: transparent;
  font-weight: 500;
  border-radius: 0.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.event-chat-btn-text {
  font-size: 14px;
  margin-top: 0.5rem;
  line-height: 1.25rem;
  color: #212121;
  text-align: center;
}

.detail-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.detail-container * {
  font-size: 14px;
  line-height: 1.25;
  margin-bottom: 4px;
  align-self: flex-start;
}

.icon-container>i {
  color: #707070;
}

/* details  */
.bottom3-what-we-are-about {
  max-width: 984px;
  width: 100%;
  align-self: center;
  padding: 40px 0 50px 0;
  background-size: fill;
}

.bottom3-what-we-are-about>h2 {
  padding-bottom: 20px;
  font-size: 16pt;
}

.organizerbtns1 {
  margin-top: 20px;
  width: 120px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 7px 0;
  background-color: var(--meetup-green);
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 2px 2px 1px #707070;
  border: white;
  border-radius: 5px;
  cursor: pointer;

  align-self: flex-end;
}

.organizerbtns1:hover {
  background-color: var(--btn-hover);
}

.organizerbtns.foreventdelete {
  margin-top: 0 !important;
}

.organizerbtns.foreventdelete1 {
  margin-top: 0 !important;
  font-weight: 500;
  font-size: 14pt;
  color: white;
  padding: 10px 32px;
  width: fit-content;
  background-color: var(--meetup-green);
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 2px 2px 1px #707070;
  border: white;
  border-radius: 5px;
  cursor: pointer;

  align-self: flex-end;
}

.organizerbtns:hover {
  background-color: var(--btn-hover);
}

.attendee-list {
  display: flex;
  gap: 16px;
}

.event-bottom-container-sticky {
  position: sticky;
  width: 100%;
  bottom: 0;
  background-color: white;
  padding: 36px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-bottom-container-sticky-inner {
  line-height: 1.375rem;
  /* max-width: 984px; */
  width: 100%;
  padding: 0 auto;
  display: flex;
  justify-content: space-between;
}

.event-t-j {
  font-weight: 600;
  color: rgb(33, 33, 33);
  line-height: 1.375rem;
}

.event-bottom-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.organizerbtns2 {
  width: 120px;
  font-weight: 500;
  font-size: 16px;
  color: white;
  padding: 7px 0;
  background-color: var(--meetup-green);
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 2px 2px 1px #707070;
  border: white;
  border-radius: 5px;
  cursor: pointer;

  align-self: flex-end;
}

.organizerbtns2:hover {
  background-color: var(--btn-hover);
}

.organizerbtns3 {
  /* width: 120px; */
  font-weight: 500;
  font-size: 14pt;
  color: white;
  padding: 10px 32px;
  background-color: var(--meetup-green);
  /* background-color: rgba(0, 0, 0, 0.5); */
  box-shadow: 2px 2px 1px #707070;
  border: var(--meetup-green);
  border-radius: 5px;
  cursor: pointer;

  align-self: flex-end;
}

.organizerbtns3:hover {
  background-color: var(--btn-hover);
}

.going-header {
  margin-top: -2.5rem;
  text-align: center;
  padding: 16px;
  background-color: rgb(0 121 138);
  color: white;
  margin-bottom: 20px;
}

.going-header1 {
  margin-top: -2.5rem;
  text-align: center;
  padding: 16px;
  margin-bottom: 20px;
  /* background-color: #d9d9d9;
  color: rgb(162, 162, 162); */
  background-color: #353e48;
  color: white;
}