#groups-in-meetfun {
  width: 993px;
  margin-bottom: 1rem;
}

.list-item > :first-child {
  /* border-top: 1px solid rgb(217 217 217); */
}

.list-item-events > :first-child {
  margin-top: -36px;
}

.group-list-card {
  max-width: 993px;
  padding: 0.75rem 0px;
  border-bottom: 1px solid rgb(217 217 217);

  display: flex;
  flex-direction: row;
}

.group-list-card .show-as-white-card {
  background-color: white !important;
  border: none;
  border-radius: 8px;
  padding: 20px;

  line-height: 1.25rem;
}

.list-item .show-as-white-card {
  border: none;
}

.group-list-img-container {
  margin-right: 1rem;
}

.group-list-img-container > img {
  width: 178px;
  height: 100px;
}

/*right  */
.group-list-text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  word-wrap: break-word;
  width: 100%;
}
.group-name {
  padding: 0 0 16px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-name > h2 {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  /* margin-bottom: 8px; */
  overflow: hidden;
}

.group-name > h3 {
  color: rgb(124 111 80);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.event-card-1 {
  color: rgb(124 111 80);
}

.event-card-1 > h3 {
  color: rgb(124 111 80);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.group-list-text-container > p {
  padding: 0 0 4px;
  font-size: 0.875rem;
  line-height: 1.25rem;

  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.numMembers {
  padding: 24px 0 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 1.5rem;
}

.spinner {
  position: absolute;
  top: 35%;
  left: 50%;
}

.show-as-white-card1 {
  background-color: white;
  border-radius: 8px;
  border: none;
  padding: 1rem 1rem;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.group-list-card .show-as-white-card1 {
  background-color: white !important;
  border: none;
  border-radius: 8px;
  padding: 20px;

  line-height: 1.25rem;
}

.member-s {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  position: relative;
}

.chat-mask {
  opacity: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(246, 247, 248);
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-s:hover .chat-mask {
  opacity: 0.75;
  display: flex;
  align-items: center;
  justify-content: center;
}

.member-s:hover .join-this-group-btn5 {
  opacity: 1;
  z-index: 10 !important;
}

.join-this-group-btn5 {
  z-index: 50 !important;
  opacity: 1 !important;
  font-weight: 500;
  font-size: 14pt;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  background-color: var(--meetup-red);
  border: white;
  box-shadow: 2px 2px 2px #707070;
  border-radius: 8px;
  cursor: pointer;
  justify-content: center;
  align-content: center;
}

.join-this-group-btn5:hover {
  background-color: #e32359;
}

.member-s1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.member-s2 {
  color: rgb(112 112 112/1);
  padding-top: 4px;
  font-size: 15px;
  display: flex;
  gap: 6px;
}

.member-s3 {
  color: #707070;
  padding-top: 4px;
  padding-left: 19px;
}

.member-s4 {
  color: #707070;
  padding-left: 19px;
}

.member-s5 {
  color: rgb(112 112 112/1);
  font-size: 15px;
}

.bottom-inner-left {
  width: 66%;
}

.bottom-inner-right {
  width: 34%;
}

.clicked {
  border: 1px solid red;
}
