.landing-page-container {
  margin-top: 5rem;
  margin-bottom: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-page {
  max-width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.body {
  padding: 5rem 0;
  text-align: center;
}

/* section 1 */
.sec1-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sec1-left-container {
  margin-right: 4rem;
}

.sec1-left-title {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
}

.sec1-left-text {
  margin-top: 1.5rem;
}

.sec1-right-container > img {
  width: 520px;
  height: 232px;
}

/* section 2 */
.sec2-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sec2-title {
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 600;

  margin-bottom: 0.5rem;
}

.sec2-text {
  padding: 0px 280px 40px;
}

/* section 3 */
.sec3-container {
  display: flex;
  flex-direction: row;
}

.sec3-card {
  width: 33.333333%;
  padding: 0 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-pic {
  width: 160px;
  height: 151px;
}

.sec3-card-text-container {
  margin-top: 0.5rem;
  margin-bottom: 0.75rem;
}

.card-title {
  color: var(--meetup-green);
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.75rem;
  /* margin-top: 0.5rem; */
  /* margin-bottom: 3rem; */
  text-decoration: none;
}

.card-title:hover {
  text-decoration: underline;
}

.sec3-card-text-container > p {
  margin-top: 12px;
  color: rgb(33 33 33/1);
}

/* section 4 */
.sec4-container {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.join-btn {
  padding: 0.5rem 1rem;
  border: 0px solid;
  border-radius: 8px;
  text-align: center;
  background-color: var(--meetup-green);
  color: #ffffff;
}

.join-btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}
