.event-list-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.aa:hover {
  border: 1px solid transparent;
  box-shadow: 2px 2px 3px rgba(112, 112, 112, 0.5);
}

.event-card-top {
  width: 100%;

  display: flex;
  flex-direction: row;
}

#event-date-time {
  color: var(--meetup-green);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.event-card-bottom {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: 0.875rem;
  line-height: 1.25rem;
  padding-top: 14px;
}

.text-format-title {
  margin-bottom: 8px;
}
.text-format-p {
  font-size: 15px;
  /* line-height: 1.43; */
  color: rgb(112 112 112/1);
  padding-top: 20px;
  margin-bottom: 8px;
}

.event-page-container {
  display: flex;
  gap: 48px;
}

.react-calendar__navigation__prev2-button {
  display: none;
}

.react-calendar__navigation__next2-button {
  display: none;
}

.event-match {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
}

.no-match-text {
  color: #000000;
}

.event-match-img {
  width: 178px;
  height: 100px;
  object-fit: fill;
}

.event-header {
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  border-bottom: 2px solid rgb(162, 162, 162);
  padding-top: 2.5rem;
  color: #000000;
}

.hor-line {
  width: 100%;
  height: 1px;
  background-color: rgb(217 217 217);
}

.no-border {
  border: none;
}

.react-calendar {
  margin-top: 0.5rem;
  border-radius: 8px;
  border: 1px solid rgb(162, 162, 162);
  padding: 8px;
  /* width: min-content; */
}

.react-calendar__month-view__weekdays__weekday > * {
  text-decoration: none;
  color: var(--meetup-green);
  font-weight: normal;
  font-size: 14px;
}

.react-calendar__month-view__weekdays__weekday {
  width: min-content;
}

.react-calendar__month-view__weekdays {
  width: min-content;
}

.react-calendar__tile {
  position: relative;
}

.calendar-dot {
  color: var(--meetup-green);
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.event-card-1 {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.view-all-events-btn {
  margin-bottom: 0.5rem;
  color: var(--meetup-green);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.view-all-events-btn:hover {
  text-decoration: 2px underline;
  font-weight: 500;
}
