.event-list-card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.event-card-top {
  width: 100%;

  display: flex;
  flex-direction: row;
}

#event-date-time {
  color: var(--meetup-green);
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.event-card-bottom {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;

  font-size: 0.875rem;
  line-height: 1.25rem;
}
