.hidden {
  display: none;
}

.header {
  /* position: fixed;
  top: 0;
  width: 100%; */
  list-style: none;
  padding-left: 3rem;
  padding-right: 30px;
  margin-bottom: 2.5rem;
  border-bottom: 2px solid rgb(217 217 217);
  min-height: 65px;
  /* background-color: white; */

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* Logo */
.meet-up {
  font-family: "Marck Script", cursive;
  font-size: 26pt;
  color: var(--meetup-red);
  font-weight: 1000;
  text-decoration: none;
  background-color: transparent;
  border: none;
}

.header-right-container {
  gap: 35px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.start-new-group {
  color: var(--meetup-green);
  font-weight: 450;
}

.start-new-group:hover {
  color: var(--teal);
}

/* login signup button  */
.login {
  cursor: pointer;
  font-size: 14pt;
}

.login:hover {
  color: var(--meetup-green);
}

.signup {
  padding: 8px 16px;
  border: 0px solid;
  border-radius: 8px;

  font-size: 14pt;
  color: #ffffff;
  text-align: center;
  background-color: var(--meetup-green);
  cursor: pointer;
}

.signup:hover {
  background-color: var(--btn-hover);
}

/* header right */
.user-icon-container {
  border: 0px;
  background-color: transparent;
  display: flex;
  align-items: center;
  gap: 7px;
}

.fas.fa-user-circle {
  color: var(--meetup-red);
  fill: var(--meetup-red);
  border: 2px solid black;
  border-radius: 50%;
  font-size: 2rem;
}

.arrow {
  color: rgb(112 112 112/1);
}

/* User Menu */
.profile-dropdown {
  list-style: none;
  transform: translate3d(0px, 56px, 0px);
  position: absolute;
  right: 20px;
  top: 1.25rem;
  min-width: 210px;
  padding: 0.8rem 1rem;
  font-weight: 300;
  line-height: 1.4rem;

  border: 0.7px solid rgb(112 112 112/1);
  border-radius: 0.25rem;
  box-shadow: 3px 3px 4px rgba(112, 112, 112, 0.5);
  color: rgb(112 112 112/1);
  background-color: white;
}

.profile-dropdown li:nth-child(2) {
  padding-bottom: 0.3rem;
}

.profile-dropdown li:last-child {
  padding-top: 0.35rem;
  border-top: 1px solid rgb(217 217 217/1);
}

.profile-dropdown button {
  width: 100%;
  text-align: left;
  color: rgb(112 112 112/1);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.profile-dropdown button:hover {
  color: var(--meetup-green);
}
