.xmark-container {
  position: absolute;
  top: 15px;
  right: 20px;
  cursor: pointer;
  color: grey;
}

.fa-solid.fa-xmark {
  font-size: 23px;
}

.modal-container {
  background-color: transparent;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  padding-top: 2.25rem;
  padding-bottom: 2rem;

  width: 484px;
  max-height: 100vh;
  overflow-y: auto;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
}

.logo-container > h1 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 36px;
  margin-top: 8px;
  margin-bottom: 0.5rem;
}

.logo-container > img {
  width: 48px;
  height: 48px;
}

/* not a member */
.not-a-member-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.not-a-member-container > h2 {
  font-weight: 400;
  font-size: 14pt;
}

/* not a member sign up button  */
.signup-text .signup {
  color: var(--meetup-green);
  background-color: white;
  padding-left: 8px;
}

.signup-text .signup:hover {
  background-color: white;
  color: var(--meetup-green);
}

/* error-message */
.error-message {
  color: red;
  font-weight: 400;
  font-size: 16px;
}

/* username or email input  */
.credential-input {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  gap: 1.5rem;
}

.labels {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.25rem;
}

.login-credential {
  border: 1.5px solid rgb(230 230 230);
  border-radius: 0.5rem;
  margin-top: 5px;
  padding: 0.5rem 0.75rem;
}

.login-credential:hover,
.login-credential:focus {
  border: 2px solid var(--meetup-green) !important;
}

.login-btn-container {
  padding: 0.5rem 0.75rem;
}

.login-button {
  margin-top: 1rem;
  padding: 0.5rem 0.75rem;
  height: 3rem;
  width: 100%;
  font-weight: 500;
  font-size: 14pt;
  color: white;
  padding: 10px 20px;
  margin-bottom: 20px;
  border: white;
  border-radius: 8px;
}

.enabledBtn {
  background-color: var(--meetup-red);
}

.enabledBtn:hover {
  background-color: #e32359;
}

.disabledBtn {
  background-color: var(--dark-gray);
}

/* demo user  */
.demo-container {
  padding: 0.5rem 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.demo {
  padding: 0.4rem 0.5rem;
}
